.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0px !important;
    width: 100%;
}
.nav-logo {
    width: auto;
    height: 40px
}
 .navbar-default {
        border-top: 0px solid #fff
    }
 .navbar-brand {
        background-color: #fff;
        padding: 13px !important;
    	margin-left:20px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    .navbarMenu01 ul li{
   	color: #fff;
    font-size: 14px;
    font-weight: 700;
    height: 65px;
    line-height: 38px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.navbar-light .navbar-nav .nav-link{
	color: white !important;
	padding: 10px;
}
.navbar-default .navbar-toggle navbar-toggler-icon{
    background: #533370;
    border-color: transparent;
}
.cont-info {
    position: absolute;
    right: 0px;
    font-size: 18px;
    background-color: #533379;
    padding: 5px;
    border-radius: 4px;
    top: 14px
}
.cont-info a{
	color: #ffa400;
}
.navbar-toggler-icon{
	color: red;
	}
.dropdownNav .dropBtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.dropdownNav-content {
  display: none;
  position: absolute;
  background-color:#533379;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdownNav-content a {
  float: none;
  color: black;
  padding: 1px 16px;
  height: 38px !important;
  text-decoration: none;
  display: block;
  text-align: left;
  border-bottom: 2px solid white;
}

.dropdownNav-content a:hover {
  background-color: #ddd;
}

.dropdownNav:hover .dropdownNav-content {
  display: block;
}

@media only screen and (max-width: 600px) {
	 .navbar-brand {
        background-color: #fff;
        padding: 13px !important;
    	margin-left:0px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }
      .cont-info {
        top: 2%;
        left: 28%;
        font-size: 14px;
        position: fixed;
        float: none;
        width: 50%;
        text-align: center;
    }
}
@media (max-width:992px) {
   .cont-info{
    	font-size: 18px;
    	 right: 180px;

    }
}

@media (max-width:530px) {
   .cont-info{
    	font-size: 18px;
    	 right: 80px;

    }
}
@media (max-width:420px) {
   .cont-info{
    	font-size: 10px;
    	 right: 65px;


    }
}
@media (min-width:768px) {
    .container {
        width: 700px
    }
}

@media (min-width:992px) {
    .container {
        width: 900px
    }
}

@media (min-width:1200px) {
    .container {
        width: 1000px
    }
}